- We can store the output values by using append operations

- We are taking an empty list and we are iterating through elements from a given list

- And the result we are appending in a new list

In [10]:
sl = []
for i in range(10):
    sl.append(i*i)
print(sl)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost three lines in a process

- We can make those three lines into a single line

- This process is known as list comprehension

$Pattern-1$

**Only For Loop**

In [ ]:
# SYNTAX :
[<output>   <for loop>]

In [ ]:
sl = []
for i in range(10):
    sl.append(i*i)
print(sl)

In [19]:
square_list = [i*i for i in range(10)]
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
l1 = ["hyd", "mumbai", "chennai", "bangalore"]
l2 = [i.upper() for i in l1]
l2

['HYD', 'MUMBAI', 'CHENNAI', 'BANGALORE']

In [31]:
l1 = ['HYD', 'MUMBAI', 'CHENNAI', 'BANGALORE']
l2 = [i.lower() for i in l1]
l2

['hyd', 'mumbai', 'chennai', 'bangalore']

In [53]:
# Sum of indexes of all elements
l1 = ["hyd", "mumbai", "chennai", "bangalore"]
for i in l1:
    print(l1.index(i))

0
1
2
3

In [49]:
# By using LC
l1 = ["hyd", "mumbai", "chennai", "bangalore"]
summ = 0
l2 = [l1.index(i) for i in l1]
sum(l2)

6

- Making empty list will not work in list comprehension
 
- Initialisation will not work in list comprehension
 
- Assignments will not work in list comprehension

$Pattern-2$

**For loop and if condition**

In [ ]:
# Syntax:
[<output>  <for loop>  <if condition>]

In [59]:
l1 = ["hyd","mumbai", "chennai", "ban"]
l2 = []
for i in l1:
    if len(i) > 4:
        l2.append(i)
l2

['mumbai', 'chennai']

In [61]:
l1 = ["hyd","mumbai", "chennai", "ban"]
l2 = [i for i in l1 if len(i) > 4]
l2

['mumbai', 'chennai']

In [65]:
# l1=['Hyd','Mum#bai','Chen#nai','blr']
#     ans_with_hash=['Mum#bai'',Chen#nai']  
#     ans_without_hash=['Hyd'','blr']
#     we want elements which are having '#'

l1 = ['Hyd','Mum#bai','Chen#nai','blr']
ans_with_hash = [i for i in l1 if "#" in i]
ans_without_hash = [i for i in l1 if "#" not in i]
print(ans_with_hash)
print(ans_without_hash)

['Mum#bai', 'Chen#nai']
['Hyd', 'blr']

In [73]:
# l1=['Hyd','Mumbai','chennai','blr']
#     ans=['Hyd','Mumbai']
#     we want elements which are having first letter capital

l1 = ['Hyd','Mumbai','chennai','blr']
l2 = [l1[i] for i in range(len(l1)) if l1[i][0].isupper()]
l2

['Hyd', 'Mumbai']

In [1]:
# str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        third name will be in third name list

str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
l1 = str1.split()
# l1[0][:l1[0].index(".")]  # Virat
# l1[1][:l1[1].index(".")]  # Virat
# l1[2][:l1[2].index(".")]  # Virat
first_name = []
last_name = []
team_name = []
for i in l1:
    first_name.append(i[:i.index(".")])
    last_name.append(i[i.index(".")+1:i.index("@")])
    team_name.append(i[i.index("@")+1:i.index(".",i.index(".")+1)])
print(first_name)
print(last_name)
print(team_name)

['virat', 'Rohit', 'KL']
['kohli', 'sharma', 'Rahul']
['rcb', 'mi', 'lucknow']

In [33]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
l1 = str1.split(",")
f_name = [i[:i.index('.')] for i in l1]
l_name = [i[i.index(".")+1:i.index("@")] for i in l1]
t_name = [i[i.index("@")+1:i.index(".",i.index(".")+1)] for i in l1]
print(f_name,l_name,t_name)

['virat', ' Rohit', ' KL'] ['kohli', 'sharma', 'Rahul'] ['rcb', 'mi', 'lucknow']

$Pattern-3$

**For loop - if - else**

In [40]:
# SYNTAX : 
[<if output>  <if>  <else>  <else output>  <for>]

In [46]:
even_odd = [f"Even:{i}" if i % 2 == 0 else f"Odd:{i}" for i in range(1,20)]
even_odd

['Odd:1',
 'Even:2',
 'Odd:3',
 'Even:4',
 'Odd:5',
 'Even:6',
 'Odd:7',
 'Even:8',
 'Odd:9',
 'Even:10',
 'Odd:11',
 'Even:12',
 'Odd:13',
 'Even:14',
 'Odd:15',
 'Even:16',
 'Odd:17',
 'Even:18',
 'Odd:19']

In [48]:
even = [f"EVEN:{i}" for i in range(1,20) if i % 2 == 0]
even

['EVEN:2',
 'EVEN:4',
 'EVEN:6',
 'EVEN:8',
 'EVEN:10',
 'EVEN:12',
 'EVEN:14',
 'EVEN:16',
 'EVEN:18']

In [50]:
odd = [f"ODD:{i}" for i in range(1,20) if i % 2 != 0]
odd

['ODD:1',
 'ODD:3',
 'ODD:5',
 'ODD:7',
 'ODD:9',
 'ODD:11',
 'ODD:13',
 'ODD:15',
 'ODD:17',
 'ODD:19']

In [19]:
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
l1 = str1.split(",")
first_name = []
last_name = []
team_name = []
for i in l1:
    first_name.append(i[:i.index(".")])
    last_name.append(i[i.index(".")+1:i.index("@")])
    team_name.append(i[i.index("@")+1:i.index(".",i.index(".")+1)])
print(first_name,last_name,team_name)

['virat', ' Rohit', ' KL'] ['kohli', 'sharma', 'Rahul'] ['rcb', 'mi', 'lucknow']