**Dictionary**

- We already saw many in built data types

    - string

    - list

    - tuple

    - set

    - dictionary

**Zip**

In [5]:
names = ["Ramesh","Suresh","Rahul"]
age = [20,25,30]
for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Rahul age is 30

In [7]:
dict1 = {"Ramesh":20,"Suresh":25,"Rahul":30}
type(dict1)

dict

**Initialisation**

In [18]:
d = {"[Rohit]":21,"Rahul":20,"Rohit":"Manjiri"}
d

{'[Rohit]': 21, 'Rahul': 20, 'Rohit': 'Manjiri'}

In [20]:
d1 = {20:21,0.4:0.1}
d1

{20: 21, 0.4: 0.1}

In [26]:
d2 = {"(Virat)":"(Kohli)","[Rohit]":"[Sharma]"}
d2

{'(Virat)': '(Kohli)', '[Rohit]': '[Sharma]'}

In [28]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
d1

{'Manish': 20, 'Shubham': 21, 'Govindh': 25}

In [36]:
d2 = {"Manish":"25","Shubham":"30","Govind":"35"}
d2

{'Manish': '25', 'Shubham': '30', 'Govind': '35'}

In [38]:
d3 = {25:"Manish",20:"Shubham",15:"Govind"}
d3

{25: 'Manish', 20: 'Shubham', 15: 'Govind'}

In [40]:
d4 = {25:50}
d4

{25: 50}

In [42]:
d5 = {"Fruits":["Mango","Banana"]}
d5

{'Fruits': ['Mango', 'Banana']}

In [44]:
d6 = {["Apple","Cherry"]:"Fruits"}
d6

TypeError: unhashable type: 'list'

In [46]:
d7 = {("Apple","Cherry"):"Fruits"}
d7

{('Apple', 'Cherry'): 'Fruits'}

In [49]:
d8 = {"Ajay":25,"Ajay":30}
d8

{'Ajay': 30}

**Keys are important**

- Keys have only latest values

- Their are no duplicate keys

- Their should be only one key

- Values can be duplicate

- That means different keys can have same values

- Lists cannot be a key, because list are mutable

- Tuples can be a key as they are immutable

In [51]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
d2 = {"Manish":"25","Shubham":"30","Govind":"35"}
d3 = {25:"Manish",20:"Shubham",15:"Govind"}
d4 = {"Manish":25,"Shubham":"20","Govind":"20"}
d5 = {25:"Manish","20":"Shubham",15:"Govind"}
d6 = {25:"Manish",20:"Shubham",15:"Govind"}
d7 = {20:"Manish",20:"Shubham",20:"Govind"}
max(d1)

'Shubham'

In [53]:
d2 = {"Manish":"25","Shubham":"30","Govind":"35"}
max(d2)

'Shubham'

In [55]:
d3 = {25:"Manish",20:"Shubham",15:"Govind"}
max(d3)

25

In [57]:
d5 = {25:"Manish","20":"Shubham",15:"Govind"}
max(d5)

TypeError: '>' not supported between instances of 'str' and 'int'

In [59]:
d7 = {20:"Manish",20:"Shubham",20:"Govind"}
max(d7)

20

In [61]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
min(d1)

'Govindh'

In [63]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
len(d1)

3

In [67]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
output = reversed(d1)
for i in output:
    print(i)

Govindh
Shubham
Manish

In [69]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
sorted(d1)

['Govindh', 'Manish', 'Shubham']

In [82]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
sorted(d1,reverse=True)

['Shubham', 'Manish', 'Govindh']

In [77]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
print("Rohit" in d1)
print("Manish" in d1)

False
True

In [79]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
list(reversed(d1))

['Govindh', 'Shubham', 'Manish']

**Reversed**

- You might think that the dictionary will be reversed

- But after reversing we will know that only all the keys will get reversed

In [84]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
for i in d1:
    print(i)

Manish
Shubham
Govindh

**Index**

In [93]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
# If u want to retrieve the values u need to call the keys first
d1["Manish"],d1["Shubham"],d1["Govindh"]

(20, 21, 25)

In [3]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
for i in d1:
    print(f"{i} has age {d1[i]}")

Manish has age 20
Shubham has age 21
Govindh has age 25

In [5]:
Names = ["Rohit","Virat","Hardik"]
Age = [37,35,28]
for i,j in zip(Names,Age):
    print(f"{i} is {j} years old")

Rohit is 37 years old
Virat is 35 years old
Hardik is 28 years old

**Dictionary to list**

In [7]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
keys,values = [],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])
print(keys)
print(values)

['Manish', 'Shubham', 'Govindh']
[20, 21, 25]

In [10]:
keys = [i for i in d1]
values = [d1[i] for i in d1]

**Empty list**

In [13]:
l = []
l.append(20)
l

[20]

**Empty string**

In [18]:
s = ''
s1 = s+"a"
s1

'a'

**Empty Dictionary**

In [21]:
d = {}
d["Rohit"] = 21
d

{'Rohit': 21}

In [23]:
d["Manjiri"] = 21
d

{'Rohit': 21, 'Manjiri': 21}

In [27]:
names = ["Rohit","Manjiri","Virat"]
age = [21,22,36]
d = {}
for i,j in zip(names,age):
    d[i] = j
d

{'Rohit': 21, 'Manjiri': 22, 'Virat': 36}

**String to list**

In [40]:
s = "Hello hi hi how how are you"
l = s.split()
l

['Hello', 'hi', 'hi', 'how', 'how', 'are', 'you']

**Word Frequency**

In [51]:
s = "Hello hi hi how how are you"
l = s.split()
d = {}
for i in l:
    d[i] = s.count(i)
d

{'Hello': 1, 'hi': 2, 'how': 2, 'are': 1, 'you': 1}

In [44]:
str1="""Data science is an interdisciplinary academic field that uses statistics,
          scientific computing, scientific methods, processes, scientific visualization,
          algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data.
         Data science also integrates domain knowledge from the underlying applicatin.Data science is multifaceted and can be described as a science,
         a research paradigm, a research method, a discipline, a workflow, and a profession."""

# task -1: in the above sentence you need to remove a,an,is,the
# task-2: Data first letter Ascii value: 68
#         science first letter Ascii value : 115
# {'Data science':68,'science':115}
l = str1.split()
d = {}
for i in l:
    if i not in("is","and","the","an"):
        d[i] = ord(i[0])
d

{'Data': 68,
 'science': 115,
 'interdisciplinary': 105,
 'academic': 97,
 'field': 102,
 'that': 116,
 'uses': 117,
 'statistics,': 115,
 'scientific': 115,
 'computing,': 99,
 'methods,': 109,
 'processes,': 112,
 'visualization,': 118,
 'algorithms': 97,
 'systems': 115,
 'to': 116,
 'extract': 101,
 'or': 111,
 'extrapolate': 101,
 'knowledge': 107,
 'insights': 105,
 'from': 102,
 'potentially': 112,
 'noisy,': 110,
 'structured,': 115,
 'unstructured': 117,
 'data.': 100,
 'also': 97,
 'integrates': 105,
 'domain': 100,
 'underlying': 117,
 'applicatin.Data': 97,
 'multifaceted': 109,
 'can': 99,
 'be': 98,
 'described': 100,
 'as': 97,
 'a': 97,
 'science,': 115,
 'research': 114,
 'paradigm,': 112,
 'method,': 109,
 'discipline,': 100,
 'workflow,': 119,
 'profession.': 112}

**Mutable-Imutable**

- Mutable means changing the value based on their index

- But in dictionary their are no index

- In dictionary we will change the value based on keys

- Instead of using index, change the values using keys

In [57]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
d1["Manish"] = 22
d1

{'Manish': 22, 'Shubham': 21, 'Govindh': 25}

In [59]:
d = {"Fruits":["Mango"]}
d["Fruits"][0]

'Mango'

In [71]:
d = {"Fruits":[{"Apple":["Kashmir"]}]}
d["Fruits"][0]["Apple"][0]

'Kashmir'

In [85]:
d={'Fruits':[{'Apple':{'Kashmir':['India']}}]}
d["Fruits"][0]["Apple"]["Kashmir"][0]

'India'

In [107]:
d={'Fruits':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d["Fruits"]["Benganapalli"]["Mango"]["Nagpur"]["MH"]["Shivaji"]

{'Shambaji'}

In [5]:
s = "Hello hi hi how how are you"
l = s.split()
d = {}
for i in l:
    d[i] = l.count(i)
d

{'Hello': 1, 'hi': 2, 'how': 2, 'are': 1, 'you': 1}

In [13]:
s = "Hello hi hi how how are you"
l = s.split()
d = {}
for i in l:
    d[i] = l.count(i)
d

{'Hello': 1, 'hi': 2, 'how': 2, 'are': 1, 'you': 1}

In [54]:
d1 = {"Fruits":["Mango"]}
d1["Fruits"][0]

'Mango'

In [62]:
d = {"Fruits":[{"Apple":["Kashmir"]}]}
d["Fruits"][0]["Apple"][0]

'Kashmir'

In [64]:
d={'Fruits':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d["Fruits"]["Benganapalli"]["Mango"]["Nagpur"]["MH"]["Shivaji"]

{'Shambaji'}

**Dictionary Methods**

In [2]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**items-keys-values**

In [5]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
d1.items()

dict_items([('Manish', 20), ('Shubham', 21), ('Govindh', 25)])

In [7]:
d1.keys()

dict_keys(['Manish', 'Shubham', 'Govindh'])

In [9]:
d1.values()

dict_values([20, 21, 25])

In [16]:
type(d1.keys())

dict_keys

In [18]:
type(list(d1.keys()))

list

In [13]:
list(d1.keys()), list(d1.values())

(['Manish', 'Shubham', 'Govindh'], [20, 21, 25])

- Dictionary keys will give dictionary keys item

- It looks like a list but it is not actually a list

- We cannot directly apply list method on it

- So we need to convert it into list first by using list typecasting

In [26]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
list(d.keys()),list(d.values())

(['Rohit', 'Virat', 'Hardik', 'Surya'], [37, 35, 28, 34])

**Method-1**

In [33]:
d1 = {"Manish":20,"Shubham":21,"Govindh":25}
keys,values = [],[]
for i in d1:
    keys.append(i)
    values.append(d1[i])
print(keys)
print(values)

['Manish', 'Shubham', 'Govindh']
[20, 21, 25]

**Method-2**

In [39]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
keys = list(d.keys())
values = list(d.values())
keys,values

(['Rohit', 'Virat', 'Hardik', 'Surya'], [37, 35, 28, 34])

**Method-3**

In [28]:
for i in d.items():
    print(i)

('Rohit', 37)
('Virat', 35)
('Hardik', 28)
('Surya', 34)

In [30]:
keys,values = [],[]
for i,j in d.items():
    keys.append(i)
    values.append(j)
keys,values

(['Rohit', 'Virat', 'Hardik', 'Surya'], [37, 35, 28, 34])

**Clear**

In [4]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
d.clear()
d

{}

**Copy**

In [7]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
d1 = d.copy()
print(d)
print(d1)

{'Rohit': 37, 'Virat': 35, 'Hardik': 28, 'Surya': 34}
{'Rohit': 37, 'Virat': 35, 'Hardik': 28, 'Surya': 34}

**Fromkeys**

In [22]:
x = ("Rohit","Virat","Bumrah")
y = 10
d = dict.fromkeys(x,y)
d

{'Rohit': 10, 'Virat': 10, 'Bumrah': 10}

In [35]:
a = ("Rahul","Ram","Ajay","Kamal")
b = 20
d = dict.fromkeys(a,b)
d

{'Rahul': 20, 'Ram': 20, 'Ajay': 20, 'Kamal': 20}

**Get**

In [29]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
d.get("Virat")

35

In [33]:
d.get("Surya")

34

**Pop**

- Pop removes the specific element and returns its value

In [40]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
d1 = d.pop("Hardik")
print(d)
print(d1)

{'Rohit': 37, 'Virat': 35, 'Surya': 34}
28

In [43]:
x = {"Raman":97,"Rajesh":80,"Ram":90,"Suraj":94}
x1 = x.pop("Suraj")
x

{'Raman': 97, 'Rajesh': 80, 'Ram': 90}

**Popitem**

In [62]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
one = d.popitem()
two = d.popitem()
one,two

(('Surya', 34), ('Hardik', 28))

**Setdefault**

In [75]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
print(d.setdefault("Bumrah",18))
print(d.setdefault("Virat"))

18
35

**Update**

In [90]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
d.update({"Bumrah":29})
d

{'Rohit': 37, 'Virat': 35, 'Hardik': 28, 'Surya': 34, 'Bumrah': 29}

In [96]:
d = {"Rohit":37, "Virat":35, "Hardik":28, "Surya":34}
d1 = {"KL":31,"Jadeja":34,"Pant":25}
d.update(d1)
print(d)

{'Rohit': 37, 'Virat': 35, 'Hardik': 28, 'Surya': 34, 'KL': 31, 'Jadeja': 34, 'Pant': 25}