**Lambda Functions**

- Lambda functions represent functions concept, but we can write it in a single line

- Like list comprehension, lambda functions are also similar

- It will decrease the time complexity

- Always remeber if we use many for loops or many conditions using multiple line the time complexity will increase

In [ ]:
# SYNTAX : 

It will use a keyword lambda
lambda <arguments> : <expressions>

In [4]:
def summ(n):
    return(n+10)
summ(10)

20

$Pattern-1$

**Function with only one argument**

- Function Name

- Argument Name

- Return Output

In [1]:
# SYNTAX :  <function Name> = lambda <argument name> : <return output>
summ = lambda n : n + 10
summ(20)

30

In [12]:
cube = lambda n : n**3
cube(5)

125

In [16]:
square = lambda n : n*n
square(10)

100

$Pattern-2$

**Function with two Arguments**

In [21]:
# SYNTAX : <function name> = lambda <argument one>,<argument two> : <return output>

In [23]:
add = lambda n1,n2 : n1 + n2
add(10,20)

30

In [27]:
avg = lambda n1,n2,n3 : (n1+n2+n3)/3
avg(10,20,30)

20.0

$Pattern-3$

**Functions with default arguments**

In [30]:
avg = lambda a,b=20,c=30 : round((a+b+c)/3)
avg(10)

20

$Pattern-4$

**Function with if-else**

In [34]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [36]:
# SYNTAX : <function name> = lambda <arg1>,<arg2> : <if output> <if condition> <else condition> <else ouutput>

In [38]:
max = lambda a,b : a if a>b else b
max(10,20)

20

$Pattern-5$

**Functions using list operations**

In [43]:
# SYNTAX : lambda <variable> : <output>,iterator

In [55]:
l = ['hyd','chennai','mumbai']
lambda i : i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

**Map**

- The function and iterator are available now

- So we need to map both

In [57]:
l = ['hyd','chennai','mumbai']
list(map(lambda i : i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [3]:
l = ['hyd','chennai','mumbai']
tuple(map(lambda i : i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

- Case 1 : Function call with one argument

    - lambda arguments : expression

    - lambda variables : return output

- Case 2 : Functio call with two arguments

    - lambda arg1 , arg2 : expression

    - lambda var1 , var2 : return output

- Case 2 : Function call with default arguments

    - lambda arg1 , arg2 = 50 : expression

    - lambda var1 , var2 = 50 : return output

- Case 4 : Function call with if else statement

    - lambda arg1 , arg2 : expression

    - lambda var1 , var2 : if_output  if_statement  else_condition  else_output  for loop

- Case 5 : Function call with lists

    - lambda arg : expression, iterator
                                                                               
    - map(lambda,variable : operation,iterator)  
                                                                                
    - list(map(lambda,variable : operation,iterator))

In [4]:
l1 = ["hyd","chennai","mumbai"]
list(map(lambda i : i.upper(),l1))

['HYD', 'CHENNAI', 'MUMBAI']

**Filter**

- Whenever if conditions are there then use filter

In [22]:
l1 = ["hyd","chen#nai","mum#bai","ban"]
list(filter(lambda i : "#" in i,l1))

['chen#nai', 'mum#bai']

In [24]:
n = [1,3,4,2,5,6]
list(filter(lambda i : i%2==0,n))

[4, 2, 6]

**Reduce**

- All in buikt functions can be achieved by reduce

- Reduce is available from functools package

- level-1 : reduce(lambda summ,i : summ + i,l1)

- level-2 : reduce(lambda summ,i : summ + i,l1,initial value)

- If we initialize summ = 0, then we will use level-1

- If we want to initialize some other value to summ, then we will use level-2

In [38]:
l1 = [1,2,3,4,5]
# I want sum of all elements

# Method-1
sum(l1)

# Method-2
summ = 0
for i in l1:
    summ += i
print(summ)

15

In [40]:
# Method-3 : Using lambda function
import functools
functools.reduce(lambda summ,i : summ + i,l1)

15

In [53]:
# import functools
# functools.reduce

from functools import reduce
l1 = [1,2,3,4,5]
reduce(lambda summ, i : summ + i,l1)

15

In [55]:
import functools as ft
l1 = [1,2,3,4,5]
ft.reduce(lambda summ,i : summ + i,l1)

15

In [57]:
# LEVEL-2
import functools
l = [1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l,10)

25

In [67]:
import functools
l1 = [1,2,3,4,5]
functools.reduce(lambda x,y:x>y,l1)

False