**Initialization**

In [1]:
str1 = "Python"
str1

'Python'

In [2]:
str2 = 'Python'
str2

'Python'

In [3]:
print(str1)

Python

**Triple Quotes**

In [4]:
str3 = """Hi How are you
          I am good"""
str3

'Hi How are you\n          I am good'

In [5]:
print(str3)

Hi How are you
          I am good

**NOTE**

- If we input our variable in single qoutes or double quotes then by default python will take that in single quotes

- If we print the strings we will see the answer without quotes

- Triple quotes are used for doc strings

- In order to convey the information about coding part we use doc string

- Anything inside single quotes or double quotes in python are considered as strings

**type**

In [6]:
type(str1)

str

In [ ]:
str4 = '10'          # Integer value in the form of string
str5 = '10.4'        # Float value in the form of string
str6 = 'True'        # Boolean value in the form of string
str7 = "123abc"      # Alphanumeric value in the form of string

**len**

In [3]:
Name = "Virat"
print(len(Name))

5

**max and min**

In [1]:
name = "Rohit"
max(name)

't'

In [2]:
min(name)

'R'

In [5]:
ord('R'),ord('o'),ord('h'),ord('i'),ord('t')

(82, 111, 104, 105, 116)

In [7]:
Hobby = "Cricket"
print(max(Hobby))
print(min(Hobby))

t
C

**Keywords vs Methods**

In [ ]:
# This all are keywords

type(<>)
print(<>)
len(<>)
max(<>)
min(<>)
eval(<>)
input(<>)
sum(<>)

In [ ]:
# Inorder to use method we need to call packages

import random
random.randint()

import math
math.sqrt()

import time
time.sleep()

**sum**

In [7]:
str1 = "python"
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
sum([1,2,3,4,5,6])

21

**sorted**

In [8]:
sorted('python')                             # Ascending Order

['h', 'n', 'o', 'p', 't', 'y']

In [10]:
sorted('python',reverse = True)              # Descending Order

['y', 't', 'p', 'o', 'n', 'h']

- sorted gives ascending order based on ASCII numbers

- sorted is kind of a function

- Every function we have arguments

- In that one defualt argument is reverse = False

- By defualt sorted output gives ascending order

- We can change the order, by providing reverse = True

- If we do not mention, it will give the default answer

In [9]:
complex()

0j

In [10]:
complex(10,20)

(10+20j)

In [11]:
sorted(iterable='pyton')

TypeError: sorted expected 1 argument, got 0

In [13]:
import random
random.randint(a = 10, b = 20)

18

In [ ]:
function()             # Answer
function(a,b)          # This might give error if we don't provide the value of a and b
function(a=10,b=20)    # Answer

**NOTE**

- We have arguments before / and after slash

- We can use the arguments after / only

- For example, sorted has two arguments one iterable and another one is reverse

- Iterable is mentioned before / symbol

- Reverse is mentioned after / symbol

- So we can only use reverse argument name when we are doing the work

- We cannot use iterable argument name

- Instead of using iterable argument name we can directly provide the value over there

**reversed**

In [2]:
reversed('python')

- Here reversed function has already performed its work

- Our output is stored in the memory location

- For accessing our output using the reversed function we will have to use for loop every time

In [3]:
str1 = "abcdef"
output = reversed(str1)
for i in output:
    print(i)

f
e
d
c
b
a

In [4]:
# sorted()
# It will provide the values either in ascending or descending order
sorted('naresh') # Ascending or Descending
# when I run directly it will give one answer
# the function has a default behaviour: ascending
# How this default mentioned
# we need to understand about arguments

['a', 'e', 'h', 'n', 'r', 's']

In [6]:
sorted("naresh",reverse = True)     # Descending order

['s', 'r', 'n', 'h', 'e', 'a']

In [8]:
for i in reversed("naresh"):
    print(i)

h
s
e
r
a
n

In [9]:
sorted([10,4,90,7,2,9])

[2, 4, 7, 9, 10, 90]

In [10]:
sorted([10,4,90,7,2,9], reverse = True)

[90, 10, 9, 7, 4, 2]

**in**

In [12]:
str1 = "rohit"
'i' in str1

True

**NOTE**

- in operator directly access the letters

In [13]:
# Q1) WAP ask the user count how many 'a' are present in a given string

# IDEA:::::
# str1 ='hai rohit how are you'
# Idea: counter wrapper
# step-1: count=0
# step-2: using for loop in operator iterate through given string
# step-3: apply the if condition, whenever the letter equal to 'a'
# step-4: count = count+1
count = 0
str1 = "hai rohit how are you"
for i in str1:
    if i == 'a':
        count += 1

print(f"The total count of \"a\" in string is {count}")

The total count of "a" in string is 2

In [14]:
# Q2) WAP ask the find how many vowels are there in a given string
str2 = "hai rohit how are you"
count = 0
str3 = "aeiou"
for i in str2:
     if i in str3:
        count += 1

print(f"The total number of vowels present in string are {count}")

The total number of vowels present in string are 9

In [27]:
# Q3) Home work qn
# str1='hai naresh how are you'
# Repetaed vowels are there
# We dont want repeted vowels
# Count the vowels avoid the repetation: Unique vowels

str1 = "haii rohit how are you"
str2 = " "
str3 = "aeiou"
count = 0
for i in str1:
    if i in str3 and i not in str2:
        str2 += i
        count += 1
print(f"The total number of unique vowels in the string are: {count}")

The total number of unique vowels in the string are: 5

**How to update the empty strings**

In [30]:
s1 = 'python'
s2 = ' '
for i in s1:
    s2 = s2 + i       # Concatenation
print(s2)

 python

**Concatenation**

In [31]:
s1 = 'Hello'
s2 = 'bye'
s1+s2

'Hellobye'

In [33]:
s1 = "hello "
s2 = "bye"
s1 + s2

'hello bye'

In [34]:
s3 = "hi"
s4 = " how are you"
s3 + s4

'hi how are you'

In [ ]:
# s1*s2 : can't multiply sequence by non-int of type 'str'
# s1-s2 : unsupported operand type(s) for -: 'str' and 'str'
# s1/s2 : unsupported operand type(s) for /: 'str' and 'str'

**index**

- Index means a number attached to a letter

- In python index starts with zero

- We have two directions

    - Positive direction

        - Positive numbers starts with zero

    - Negative direction

        - Negative numbers starts with -1 , applicable to last letter

In [ ]:
s1='python'
 p  y  t  h  o  n
-6 -5 -4 -3 -2 -1 === > negative

p y t h o n
0 1 2 3 4 5 === > postive

In [35]:
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

**mutable-immutable**

- mutable : can be changed

    - we can change using indexing

- immutable : cannot be changed

    - we cannot change using indexing

# Strings are Immutable #

In [ ]:
s = 'welcome'
s[2] = 'L'
#######################################
l = [1,2,3,4]
l[1] = 3
l

- range belongs to which family?

    - math family


- inside range bracket what should we need to provide?

    - number


- how many numbers we need to provide?

    - number of letter: len(string)


- how to access the letter using number

    - by using index

In [5]:
# Print each letter using for loop range function
s = "Welcome"
for i in range(7):
    print(s[i])

W
e
l
c
o
m
e

In [3]:
x = "python"
for i in x:
    print(i)

p
y
t
h
o
n

In [6]:
y = 'virat'
for i in range(len(y)):
    print(y[i])

v
i
r
a
t

In [8]:
s = "welcome"
for i in range(len(s)):
    print(f"{s[i]} : {i}")

w : 0
e : 1
l : 2
c : 3
o : 4
m : 5
e : 6

In [15]:
x = "situation"
for i in range(len(x)):
    print(f"{x[i]} : {i-len(x)}")

s : -9
i : -8
t : -7
u : -6
a : -5
t : -4
i : -3
o : -2
n : -1

In [64]:
# Q) wap ask the user iterate using a string
# string='welcome'
# the positive index is 0 and the negtaive index -7 for w
s = "welcome"
for i in range(len(s)):
    print(f"The positive index for {s[i]} is {i} and the negative index is {i-len(s)}")

The positive index for w is 0 and the negative index is -7
The positive index for e is 1 and the negative index is -6
The positive index for l is 2 and the negative index is -5
The positive index for c is 3 and the negative index is -4
The positive index for o is 4 and the negative index is -3
The positive index for m is 5 and the negative index is -2
The positive index for e is 6 and the negative index is -1

In [17]:
s = "hai how are you i am good"
for i in range(len(s)):
    if s[i] == "a":
        print(f"a is at {i} index")

a is at 1 index
a is at 8 index
a is at 18 index

In [19]:
s = "hai how are you i am good"
count = 0
for i in range(len(s)):
    if s[i] == "a":
        count += 1
print(f"The total number of a's in string are {count}")

The total number of a's in string are 3

In [20]:
s = "hai how are you i am good"
summ = 0
for i in range(len(s)):
    if s[i] == "a":
        summ = summ + i
print(f"The total sum of all indexes of a is {summ}")

The total sum of all indexes of a is 27

In [24]:
s = "hai how are you i am good"
s1 = "aeiou"
count = 0
for i in range(len(s)):
    if s[i] in s1:
        count += 1
print(f"The total number of vowels present in the string are {count}")

The total number of vowels present in the string are 11

In [ ]:
# Q14) string1='ola ola ola'
# Number of ola = 3
# Q15) string1='hello hello hello how how how how are you'
# What is the most repeated word : how
# Q16) string1='hellooooo how aree u'
# what is the maximum length of word: helloooo
# what is the minimum length of word: u
# Q17) with out using sorted then sort the letters

In [4]:
# Q14) string1 ='ola ola ola'
# Number of ola = 3

# FIRST METHOD
str1 = "ola ola ola"
count = 0
for i in range(len(str1)):
    if str1[i:i+3] == "ola":
        count += 1
print(f"The total count of ola in the string is {count}")

The total count of ola in the string is 3

In [9]:
# SECOND METHOD
str1 = "ola ola ola"
word = "ola"
str2 = " "
count = 0
for i in range(len(str1)):
    if str1[i] not in str2:
        if str1[i] in word:
            str2 += str1[i]
            count += 1
print(f"The word \"ola\" is repeated {count} times in the string")

The word "ola" is repeated 3 times in the string

**Slice**

- We can cut into pieces

- Similar to range function

- Start,stop,step is used here also

In [ ]:
str1 = "hi how are you"
-14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1 
h     i         h    o    w       a   r   e       y   o   u
0     1    2    3    4    5    6   7   8   9  10  11  12  13

$Pattern-1$

**str1[start]:**

- By default, start value will be start only

- Last value is not mentioned so it will automatically go till the last value

- Step is not mentioned means that it will go in a positive direction and the increment will be by 1

In [8]:
str1[5:]

'w are you'

In [2]:
str1 = "hi how are you"
str1[10:]

' you'

In [3]:
str1[-5:]

'e you'

In [10]:
str1[4:],str1[-10:]           # Both will give same answer

('ow are you', 'ow are you')

In [12]:
str1[13:]

'u'

In [13]:
str1[-1:]

'u'

$Pattern-2$

**str1[start:stop]**

- Start value means by default start only

- Step is not mentioned which means it will go in the positive diection with an increment of 1

- stop is the last element which is last = stop - 1

In [ ]:
str1 = "hi how are you"
-14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1 
h     i         h    o    w       a   r   e       y   o   u
0     1    2    3    4    5    6   7   8   9  10  11  12  13

In [ ]:
str1 = "hi how are you"

In [15]:
str1[5:14]
# start = 5
# stop = last - 1 = 14 - 1 = 13

'w are you'

In [ ]:
str1 = "hi how are you"
-14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1 
h     i         h    o    w       a   r   e       y   o   u
0     1    2    3    4    5    6   7   8   9  10  11  12  13 

str1[5:14]      # Answer
str1[-5:14]     # Answer
str1[5:-14]     # No Answer
str1[-5:-14]    # No Answer

**Truncation Behaviour**

- Whenever the string range is limited but we provide an unlimited number

- String will always run till the range that we have

- In the above example we have our range only till 14 letters

- If we provide the end value as 500, then 500 will truncate till 14

In [16]:
str1[2:500]

' how are you'

In [ ]:
str1[5:500]        # Answer
str1[-500:500]     # Answer
str1[-1:500]       # Answer
str1[500:]         # No answer
str1[-500:-100]    # No answer

$Pattern-3$

**str1[start:stop:step]**

- Start value means start only

- If the step value is positive,then
    - last value = stop - 1

- If the step value is negative,then
    - last value = stop + 1

In [ ]:
str1 = "hi how are you"
-14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1 
h     i         h    o    w       a   r   e       y   o   u
0     1    2    3    4    5    6   7   8   9  10  11  12  13

In [17]:
str1 = "hi how are you"
str1[-13:11:2]

'ihwae'

In [19]:
str1[-13:2:2]

'i'

**Methods**

- Strings, lists, tuple, dictionary every data type has its own methods

- We have already seen that packages have different methods

- For example: random package = random.randint method

- In the same way string also has methods

- In order to see the methods of packages we were importing package and applying dir

- Same process will be followed in string also

In [20]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**Upper**

In [ ]:
str1 = "hi how are you"

In [21]:
type(str1)

str

In [22]:
str1.upper

In [23]:
help(str1.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [24]:
str1.upper()

'HI HOW ARE YOU'

**Lower**

In [ ]:
str1 = "MY NAME IS ROHIT"

In [25]:
help(str1.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

In [26]:
str1.lower()

'hi how are you'

**Capitalize**

In [27]:
str1 = "my name is Rohit"
str1.capitalize()

'My name is rohit'

**Casefold**

In [28]:
str1.casefold()

'my name is rohit'

**Title**

In [29]:
str1 = "my name is Rohit"
str1.title()

'My Name Is Rohit'

**Center**

In [30]:
str1.center(20)

'  my name is Rohit  '

In [31]:
len(str1.center(20))

20

- Center has two arguments

    - Width

    - Fill Char

- Original string already has 16 letters

- We need to create a new string of 20 letters

- The remaining 4 letter will be empty by default

- We can also fill the spaces by some characters

In [33]:
str1.center(26,"*")

'*****my name is Rohit*****'

**Count**

In [35]:
str1 = "Hi how are you"
str1.count("a")

1

In [36]:
str1 = "hai hai hai"
str1.count('a')

3

- If we want number of a's from a specific index

In [18]:
str1 = "hai hai hai"
str1.count('a',1,2)

1

In [10]:
str1 = "hai hai hai"
str1.count("a",-5,-1)

1

**Window method**

In [39]:
str1 = "ola ola ola"
count = 0
for i in range(len(str1)):
    if str1[i:i+3]=="ola":
        count += 1
print(f"The number of ola in string are: {count}")

The number of ola in string are: 3

**Replace**

In [11]:
str1 = "welcome"
s = "we"
t = "come"
str1 = s + "L" + t
str1

'weLcome'

In [12]:
str1 = "welcome"
str1.replace("l","L")

'weLcome'

- By default replace will change all the occurences

- Count = -1 is responsible for that

- Which means we can provide some count also, for how many letters we want to change

In [15]:
str1 = "welllcome"
str1.replace('l','L',2)

'weLLlcome'

In [26]:
str1 = "restart"
str1[::-1].replace("r","$",1)[::-1]

'resta$t'

**Index**

- Index says that it will give the index of any letter in the string

- We have already seen count, which gives how amny letter are there in the string

    - at what index do you want to count

    - in between indexes also we can count the letter

- Index means it will provide the index

In [22]:
#   h a i   h a i   h a i
#   0 1 2 3 4 5 6 7 8 9 10
str1= 'hai hai hai'
str1.index('a')
# Return the lowest index in S where substring sub is found

1

In [24]:
# I want to know the next 'a' index after 3rd index
str1 = "hai hai hai"
str1.index("a",3)

5

In [26]:
# I want to know the index of 'a' between 3rd and 7th
str1 = "hai hai hai"
str1.index("a",3,7)

5

In [28]:
str1 = "hai hai hai"
str1.index("a",-3,-1)

9

In [30]:
#  -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#   h   a   i     h  a  i     h  a  i
#   0   1   2  3  4  5  6  7  8  9  10
str1= 'hai hai hai'
print(str1.count('a'))
print(str1.count('a',3))
print(str1.count('a',3,7))

3
2
1

In [34]:
str1='hai hai hai'
# I want to know all the indexes of 'a'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

1
5
9

In [36]:
str1 = "hai hai hai hai"
i1 = str1.index("a")
print(i1)
i2 = str1.index("a",i1+1)
print(i2)
i3 = str1.index("a",i2+1)
print(i3)
i4 = str1.index("a",i3+1)
print(i4)

1
5
9
13

**Find**

In [1]:
str1 = "hai hai hai hai"
str1.find("a")

1

In [2]:
str1.find("a",2)

5

In [3]:
str1.find("a",6)

9

In [4]:
i1 = str1.find("h")
i1

0

In [11]:
i2 = str1.find("h",i1+1)
i2

8

In [7]:
i3 = str1.find("h",i2+1)
i3

12

In [9]:
i4 = str1.find("h",1)
i4

4

- If substring not found

- Count method will give zero

- Replace method will give original string

- Index will give sub string not found error

- Find will give -1

In [26]:
str1 = "omkar.nallagoni@cognizant.com"
str2 = "virat.kohli@rcb.com"
first_name = " "
last_name = " "
company_name = " "
for i in range(len(str2)):
    i1 = str2.find(".")
    first_name = str2[:i1]
    i2 = str2.find("@")
    last_name = str2[i1+1:i2]
    i3 = str2.find(".",i1+1)
    company_name = str2[i2+1:i3]
print(f"First Name = {first_name}")
print(f"Last Name = {last_name}")
print(f"Company Name = {company_name}")

First Name = virat
Last Name = kohli
Company Name = rcb