In [2]:
print(10)

10

In [3]:
print('Python')

Python

In [4]:
print(10,20,30)

10 20 30

In [5]:
print(10,20,30,"Rohit", True)

10 20 30 Rohit True

In [6]:
n1 = 10
n2 = 20
print(n1, n2)

10 20

In [7]:
a = 10
b = 20
add = a + b
print(f"The addition of {a} and {b} is {add}")

The addition of 10 and 20 is 30

In [8]:
a = 100
b = 200
c = a + b
print("The addition of {} and {} is {}".format(a,b,c))

The addition of 100 and 200 is 300

In [9]:
# Read your name
# Read your age
# Read your city
Name = "Rohit"
Age = 21
City = "Nagpur"
print("Your name is {}, your age is {} and you belong to {} city".format(Name,Age,City))

Your name is Rohit, your age is 21 and you belong to Nagpur city

In [10]:
# Employee Name
# Employee Role
# Dream Company
Emp_name = "Rohit"
Emp_role = "DS"
Dream_Company = "Google"
print("My name is {}, my role in this comapny is {} and my dream company is {}".format(Emp_name,Emp_role,Dream_Company))

My name is Rohit, my role in this comapny is DS and my dream company is Google

In [11]:
a = 100
b = 200
c = a + b
print(f"The addition of {a} and {b} is {c}")

The addition of 100 and 200 is 300

In [13]:
Name = "Rohit"
Age = 21
City = "Nagpur"
print(f"My name is {Name},I am {Age} years old and I am from {City}")

My name is Rohit,I am 21 years old and I am from Nagpur

In [14]:
num1 = 100
num2 = 200
average = (num1+num2)/2
print("The average of {} and {} is {}".format(num1,num2,average))
print(f"The average of {num1} and {num2} is {average}")

The average of 100 and 200 is 150.0
The average of 100 and 200 is 150.0

In [15]:
# Take the radius of circle
# Take the pi value i.e 3.14
# Find the area of circle i.e ---> pi*r*r

r = 50
pi = 3.14
Area = (pi*r*r)
print(f"The area of circle is : {Area}")

The area of circle is : 7850.0

In [16]:
# Take the base of traingle
# Take the height of the traingle
# Area of the traingle = 1/2*base*height

base = 10
height = 20
Area = (1/2*base*height)
print(f"The area of triangle is : {Area}")

The area of triangle is : 100.0

In [19]:
# Take the bill_amount = 1000
# Take the tip_percentage = 10
# Calculate tip_amount
# Calculate the total bill
# Print the total bill

bill_amount = 1000
tip_percentage = 10
total_tip = bill_amount + (bill_amount*tip_percentage/100)
total_bill = total_tip
print(f"Total bill after adding the tip is : {total_bill}")

Total bill after adding the tip is : 1100.0

## End Keyword

- Combining multiple print statements in a single line

In [20]:
print(10, end= " ")
print(20)

10 20

In [23]:
print(10, end = ",")
print(20, end = ",")
print(30, end = ",")
print(40)

10,20,30,40

## Seperate Keyword

In [24]:
print(10, 20, 30, 40, sep = " ")

10 20 30 40

In [25]:
print(10,20,30,sep="---->")

10---->20---->30